<!DOCTYPE html>
<!-- CSS Stylesheets with Relative Paths -->
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Temperature</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Loading CSS files -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Weather & Company</a>
      </div>


      <div class="row">
        <h3 class="text-center">Latitude</h3>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/temperature">Max Temperature</a></li>
          <li role="presentation"><a href="/humidity">Humidity</a></li>
          <li role="presentation"><a href="/cloudiness">Cloudiness</a></li>
          <li role="presentation"><a href="/windspeed">Wind Speed</a></li>
          <li role="presentation"><a href="/data">Data</a></li>
          <li role="presentation"><a href="/comparison">Comparison</a></li>
        </ul>
      </div>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div>
    <h1>City Latitude vs. Max Temperature</h1>

      <br>
  </div>
  <div>
    <!-- about section -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <img src='../static/images/temp.jpg'
                style="width:500px; height: 340px;"> 
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="about-thumb">
                <div class="section-title">
                  <h3 class="wow fadeInUp" data-wow-delay="0.4s">DISCUSSION</h3>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.6s">
                  <p> Temperature has a parabolic relationship with city latitude that peaks at a latitude of -20. From latitude 20-80, there is a steep, consistent decline in max temperatures. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <br>
  </div>
</body>